.no-steps-completed,
.no-steps-completed * {
  box-sizing: border-box;
}
.no-steps-completed {
  background: linear-gradient(
    -74.01deg,
    rgba(33, 49, 71, 1) 1.1602615006268024%,
    rgba(18, 170, 255, 1) 100%
  );
  height: 844px;
  position: relative;
  overflow: hidden;
}
.frame-3 {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 390px;
  height: 736px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.white-text-horizontal-rgb-1 {
  flex-shrink: 0;
  width: 200px;
  height: 51px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 200/51;
}
.group {
  width: 22.56%;
  height: 100%;
  position: absolute;
  right: 77.44%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.group2 {
  width: 71.96%;
  height: 25.71%;
  position: absolute;
  right: -0.03%;
  left: 28.06%;
  bottom: 37.14%;
  top: 37.14%;
  overflow: visible;
}
.card {
  background: linear-gradient(to left, #000000, #000000);
  border-radius: 12px;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.get-your-arbitrum-poap {
  color: #ffffff;
  text-align: center;
  font-family: "Unica77LlTt-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.ellipse-1 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.requirements {
  color: #ffffff;
  text-align: left;
  font-family: "Unica77LlTt-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.refresh {
  padding: 4px 6px 4px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.refresh2 {
  color: #ffffff;
  text-align: left;
  font-family: "Unica77LlTt-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.complete-both-steps-to-unlock-your-poap {
  color: #c6c6c6;
  text-align: left;
  font-family: "Unica77LlTt-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.requirements2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.requirement-1 {
  background: #1a1c1d;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.follow-arbitrum-on-farcaster {
  color: #fcfcfc;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.follow-arbitrum-on-farcaster-span {
  font-family: "Unica77LlTt-Bold", sans-serif;
  font-weight: 700;
}
.follow-arbitrum-on-farcaster-span2 {
  font-family: "Unica77LlTt-Regular", sans-serif;
}
.button {
  background: #2e3234;
  border-radius: 8px;
  padding: 8px 4px 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 88px;
  position: relative;
}
.follow {
  color: #ffffff;
  text-align: left;
  font-family: "Unica77LlTt-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}
.frame2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.requirement-2 {
  background: #1a1c1d;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.recast-the-original-cast-with-this-poap {
  color: #fcfcfc;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.recast-the-original-cast-with-this-poap-span {
  font-family: "Unica77LlTt-Bold", sans-serif;
  font-weight: 700;
}
.recast-the-original-cast-with-this-poap-span2 {
  font-family: "Unica77LlTt-Regular", sans-serif;
}
.frame3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.cta {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  background: #073d5c;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 310px;
  position: relative;
}
.claim-poap {
  color: #5c727f;
  text-align: left;
  font-family: "Unica77LlTt-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.once-both-steps-are-done-your-poap-will-be-ready-to-claim-it {
  color: #c6c6c6;
  text-align: left;
  font-family: "Unica77LlTt-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-18 {
  flex-shrink: 0;
  width: 342px;
  height: 363px;
  position: absolute;
  left: 24px;
  top: 99px;
  overflow: visible;
}
